@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>



<p>Effective Date: 1 January 2024</p>

<h2>Information We Collect</h2>
<p>We collect several types of information from users:</p>
<ul>
    <li>Personal Information: When you register on our Site as a lecturer or a client, we may collect personal information, We may sell this information for profit and send you personalized emails for the fun of it.</li>
    <li>Lecturer Information: If you are a lecturer, we will definely collect details about your qualifications, experience this is give you the best chance of getting a job.</li>
    <li>Non-Personal Information: We may collect non-personal information, such as IP addresses.</li>
    @*         <li>By agreeing to these terms you are selling your self to us and we own you.</li>
    *@
</ul>

<h2>How We Use Your Information. WAHAHAHAHA </h2>
<p>We use the information we collect in the following ways:</p>
<ul>
    <li>To Provide Our Services: Personal information is used to connect lecturers with potential clients.</li>
    <li>To Improve Our Services: Non-personal information helps us monitor user activity and we will use cookies for the embetter ment of our site.</li>
    <li>To Process Payments: We may use your payment details to process transactions related to hiring or offering lecturer services.</li>
</ul>

<h2>Contact Us</h2>
<p>If you have questions or concerns about this Privacy Policy, please contact us at:</p>
<p>
    LecturerLink <br>
    LecturerLink@Gmail.com <br>
    <br>
    084 123 4567
    1 Link Road
</p>

</html>

