@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model LecturerLink.Models.Information;


@{
    ViewData["Title"] = "Upload File";
}

<h2>Upload File</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="fileUpload">Upload File</label>
        <input type="file" name="fileUpload" id="fileUpload" required />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@if (ViewData.ModelState.IsValid == false)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
