html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.custom-navbar {
    background-color: #BC4D00 !important;
}

    .custom-navbar .nav-link,
    .custom-navbar .navbar-brand {
        color: white !important;
    }

        .custom-navbar .nav-link:hover,
        .custom-navbar .navbar-brand:hover {
            color: lightgray !important;
        }
